:root {
  --primary-color: rgb(35,35,44);
}

html, body {
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-color);
}

body {
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.board-container {
  display: flex;
  justify-content: space-around;
  padding: 5vw;
}

.board {
  display: grid;
  grid-template: repeat(7, 1fr) / repeat(7, 1fr);
  gap: 2px;
  width: 35vw;
  height: 35vw;
}

/* get board squares to render */
.board-square {
  background-color: blue;
}